{% extends 'base.html' %}
{% load static %}
{% block title %}
Войти
{% endblock %}
{% block content %}
<div class="text-center main-block">
<form method="post" action="" class="login-logout" role="form">
  {% csrf_token %}
  <img class="mb-4" src="{% static '/img/birthday-cake.svg' %}" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal" style="font-family: feodorovupdateplain;">Войти</h1>
  <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="Email или имя">
  <input id="login-password" type="password" class="form-control" name="password" placeholder="Пароль">
  <div class="checkbox mb-3">
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login" style="font-family: feodorovupdateplain;">Поехали</button>
  <input type="hidden" name="next" value="{{ next }}">
</form>
</div>
{% endblock %}
